<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Base" />
                <binding name="Move" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="Callback">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/"
                binding="basicHttpBinding" bindingConfiguration="Base" contract="ServiceReference1.IContract"
                name="Base" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Callback"
                binding="wsDualHttpBinding" bindingConfiguration="Callback"
                contract="ServiceReference1.ICallback" name="Callback" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Move"
                binding="basicHttpBinding" bindingConfiguration="Move" contract="ServiceReference1.IMove"
                name="Move" />
        </client>
    </system.serviceModel>
</configuration>